mixin forgotForm(store = {})
  form(action='/account/forgot' method='POST' class='card')
    h3 I forgot my password
    label(for='email') Email
    input(type='email' name='email')
    input(type='submit' value='Send a reset' class='button')